<% if logged_in? %>
  <h3><%= current_user.name %>のタスク一覧</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タスク</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |tsk| %>
        <% if current_user.tasks.find_by(id: tsk.id) %>
          <tr>
          <td><%= link_to tsk.id, tsk %></td>
          <td><%= tsk.content %></td>
          <td><%= tsk.status %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <%= link_to '新規タスク追加', new_task_path,class:'btn btn-lg btn-primary mt-4 ml-4' %>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to Task List</h1>
      <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      <%= link_to 'Login', login_path, class: 'btn btn-lg btn-info' %>
    </div>
  </div>
<% end %>

